.menu-bar{
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-color: rgb(211, 207, 207);
  background-color: rgb(250, 249, 249);
  z-index: 1;
}

.home-button, 
.cat-button,
.fav-button,
.help-button,
.log-out{
  cursor: pointer;
}

.home-button:hover,
.cat-button:hover,
.fav-button:hover,
.help-button:hover,
.log-out:hover{
  font-weight: bold;
}